<mat-toolbar color="primary">  

    <div>
        <mat-icon>webhook</mat-icon>
        <a href="">NETFLIKZ</a> 
    </div>

    <div>
        <div *ngIf="active">Hola, {{[username]}}!</div>
        <div *ngIf="active; then thenBlock else elseBlock"></div>

        <ng-template #thenBlock>
            <div>
                <button mat-icon-button matTooltip="Carrito de compras que abre un Sidenav" >
                    <mat-icon  matBadgeOverlap="true" 
                [matBadgeHidden]="matBadge==0" [matBadge]="matBadge" matBadgeColor="warn">
                shopping_cart</mat-icon>
                </button>               

                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>arrow_drop_down</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="irPerfil()">
                        <mat-icon>account_circle</mat-icon>
                        <span>Perfil</span>
                    </button>
                    <button mat-menu-item (click)="logout()">
                        <mat-icon>logout</mat-icon>
                        <span>Cerrar sesión</span>
                    </button>
                </mat-menu>
            </div>
        </ng-template>
        
        <ng-template #elseBlock>
            <button mat-raised-button (click)="openDialogSesion()">Iniciar Sesion</button>          
        </ng-template>
    </div>

</mat-toolbar>

<!-- SIDENAV para el carrito de compras pero no sal bieeeeeeeeeeeeeeeeeeeeeeeensdklkncklsvdkclsd -->

<!-- <button mat-icon-button (click)="drawer.toggle()">
<mat-sidenav-container class="example-container" autosize>
    <mat-sidenav #drawer mode="over" opened="false">        
    
        <mat-icon matListIcon>shopping_cart</mat-icon>
        <h4 matLine>NOMBRE PRODUCTO</h4>
        <p matLine>Precio $00.00</p>
        <p matLine>Precio $00.00</p>
    
        <mat-icon matListIcon>shopping_cart</mat-icon>
        <h4 matLine>NOMBRE</h4>
        <p matLine>$00.00</p>
    
        <mat-icon matListIcon>shopping_cart</mat-icon>
        <h4 matLine>NOMBRE</h4>
        <p matLine>$00.00</p>           
        
    </mat-sidenav>
</mat-sidenav-container> -->

