*{
    box-sizing: border-box;
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    gap: 20px;
}

.btnEnviar{
    margin-top: 20px;
}

input{
    width: 100%;
}